html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}
#svg {
    position: absolute;
    bottom: 0;
    left: 0;
}
.holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.inner {
    position: relative;
    width: 50%;
    margin: 5vh auto;
    height: 90vh;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}
.logo {
    width: 120px;
    margin-bottom: -30px;
}
h2 {
    font-size: 2em;
}
.lower {
    position: absolute;
    bottom: 50px;
    width: 100%;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid #fff;
    width: 50%;
    margin: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    background: transparent!important;
}
input[type=text]:focus {
    border: 1px solid #fff;
}
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: transparent!important;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin: 4px 2px;
    cursor: pointer;
}
